ul,ol{
    display:flex;
    flex-direction: column;
    li div{
        display: flex;
        align-items: center;
        justify-content:stretch;
        svg {
            transition: opacity 100ms linear;
            opacity: 0;
        }
        &:hover {
            svg {
                opacity: 1;
            }
        }  
        .delete-button{
            margin-left: $margin-large;
             fill:red;
}}}