.new-recipe {
  background-color: $paper-color;
  padding: $padding-huge;
  width: 1000px;
  align-items: center;
  border-radius: $card-border-radius;
  box-shadow: $box-shadow-medium;
  color: $text-color;

  .new-recipe-title {
    font-family: Oxygen;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    margin-bottom: $margin-huge;
  }
  label {
    font-family: Oxygen;
    font-weight: bold;
    font-size: large;
  }
  .MuiFormControl-root {
    width: 100%;
    .MuiSlider-root {
      width: 20vw;
    }
  }
  .name,
  .slider,
  .difficulty,
  .ingredients,
  .steps,
  .photo,
  .select-tag {
    margin: $margin-huge 0;
  }
  div:not(.name, .slider, .difficulty, .ingredients, .steps, .photo, .select-tag) {
    margin: $margin-medium 0;
  }
  .selected-file {
    width: 29vw;
    height: auto;
  }
  .select-tag {
    div {
      margin-top: 36px;
    }
  }
  #file-upload-button {
    padding: $padding-large;
  }
  .submit-button {
    margin-top: $margin-huge;
    text-align: center;
    button {
      padding: $padding-huge;
      color: $text-color;
    }
  }
}
@include media(mobile) {
  .new-recipe {
    padding: $padding-small $padding-huge $topbar-height $padding-huge;
    border-radius: 0;
    height: 100%;
    width: 100vw;
    margin: auto;
    align-items: center;

    form {
      padding: 0 $padding-huge 0 $padding-huge;
      .photo {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
