#root {
  height: 100vh;
  overflow: hidden;
  background-color: rgba(225, 244, 203, 1);

  .app {
    padding-top: $topbar-height;
    height: 100vh;
    overflow: hidden;

    .content {
      display: flex;
      height: calc(#{100vh} - #{$topbar-height});
      flex-direction: column;
      overflow: hidden auto;

      main {
        flex-direction: column;
        display: flex;
        align-items: center;
        padding: $padding-huge;
        flex: 1;
        position: relative;
      }

      footer {
        display: flex;
        min-height: 50px;
        justify-content: center;
        align-items: center;
        width: 100%;
        background: $footer-background-color;
        color: $footer-text-color;
      }
    }
  }
}
@include media(mobile) {
  #root .app .content main {
    padding: 0 $padding-small;
    padding-bottom: $topbar-height;
  }
}
