$primary-color: #f1bf98;
$text-color: #3f4739;
$icon-color: #717568;
$background-color: #e1f4cb;
$paper-color: #f1e7df;
$footer-background-color: #6d7d64;
$footer-text-color: white;

$box-shadow-small: 0 0 10px -5px $text-color;
$box-shadow-medium: 0 0 20px -5px $text-color;
$box-shadow-large: 0 0 30px -5px $text-color;

:export {
  primaryColor: $primary-color;
  textColor: $text-color;
  iconColor: $icon-color;
  paperColor: $paper-color;
}
