$margin-small: 4px;
$margin-medium: 8px;
$margin-large: 16px;
$margin-huge: 24px;

$padding-small: 4px;
$padding-medium: 8px;
$padding-large: 16px;
$padding-huge: 24px;

$card-border-radius: 10px;

$transition-short: 0.2s ease-in-out;
$transition: 0.4s ease-in-out;

$main-min-width: 360px;
$mobile-max-width: 600px;
$tablet-max-width: 1200px;

$breakpoints: (
    mobile: $mobile-max-width,
    tablet: $tablet-max-width,
);

@function vh100() {
    @return calc(var(--vh, 1vh) * 100);
}

@mixin mobile {
    @media (max-width: #{$mobile-max-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$mobile-max-width}) and (max-width: #{$tablet-max-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$tablet-max-width}) {
        @content;
    }
}

@mixin media($keys...) {
    @each $key in $keys {
        @media (max-width: map-get($breakpoints, $key)) {
            @content;
        }
    }
}

:export {
    mainMinWidth: $main-min-width;
    mobileMaxWidth: $mobile-max-width;
    tabletMaxWidth: $tablet-max-width;
}