.recipe-details-loader-container {
  .recipe-hero-loader {
    display: flex;
    flex-direction: row;
  }
  .MuiSkeleton-root {
    transform: none;
    -webkit-transform: none;
  }
}

.recipe-details {
  width: 950px;
  box-shadow: $box-shadow-small;
  border-radius: $card-border-radius;
  background-color: $paper-color;

  .MuiDivider-root {
    border-width: 1px;
    border-color: $primary-color;
    margin-right: $margin-large;
  }
  .image {
    height: 400px;
    img {
      border-top-left-radius: $card-border-radius;
      border-top-right-radius: $card-border-radius;
      width: 100%;
      height: 400px;
      height: 100%;
      object-fit: cover;
    }
  }

  .description {
    padding: $padding-medium;
    background-color: rgba(241, 231, 223, 1);
    background-image: linear-gradient(180deg, rgba(241, 231, 223, 1) 54%, rgba(241, 191, 152, 0.37) 100%);
    margin: auto;

    .title {
      display: flex;
      font-size: x-large;
      padding: $padding-small;
      justify-content: space-between;
      align-items: center;

      .social-icons {
        display: flex;
        align-items: center;

        > :not(:last-child) {
          margin-right: $margin-small;
        }
      }
    }
    .MuiChip-root {
      color: #00000081;
    }
    .time-difficulty-delete {
      padding: $padding-small;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .time-difficulty {
        align-items: center;
        display: flex;
        padding: $padding-medium;

        .preparation-time {
          padding-bottom: $padding-small;
          padding-right: $padding-huge;
        }
      }
    }
  }

  .recipe-hero {
    padding: $padding-medium;
    display: flex;
    justify-content: start;

    .ingredients {
      line-height: 2.5;
      min-width: 300px;
      margin-left: $margin-medium;
      display: flex;
      flex-direction: column;

      ul {
        padding-left: $padding-large;
        min-width: 200px;
      }
      ul > li::marker {
        font-weight: bold;
        font-size: large;
      }
    }

    .steps {
      line-height: 1.5;
      margin-left: $margin-medium;
      padding-top: 7px;
      padding-right: $padding-huge;
      display: flex;
      flex-direction: column;

      ol {
        padding-left: $padding-large;
        min-width: 200px;
        li {
          margin-top: 15px;
          text-align: justify;
        }
      }
      ol > li::marker {
        font-weight: bold;
        font-size: large;
      }
    }
  }
}

@include media(mobile) {
  .recipe-details {
    width: 100vw;
    border-radius: 0;
    padding-bottom: $topbar-height;
    .image {
      height: 200px;
      border-radius: 0;
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: inherit;
      }
    }
    .description {
      height: fit-content;
      .title {
        font-size: large;
        padding: $padding-medium;
        align-items: center;
        .MuiIconButton-root {
          padding: 0;
          svg {
            height: 30px;
          }
        }
      }
      .time-difficulty-delete {
        padding: $padding-medium;
        justify-content: space-between;

        .time-difficulty {
          padding: 0;
          justify-content: space-between;
        }
        .MuiIconButton-root {
          padding: 0;
          svg {
            height: 24px;
          }
        }
      }
    }
    .recipe-hero {
      display: block;
      .ingredients {
        line-height: 2.5;
        width: 100%;
        margin-left: $margin-medium;
        padding-right: $padding-huge;
        display: flex;
        flex-direction: column;

        ul {
          padding-left: $padding-large;
        }
        ul > li::marker {
          font-weight: bold;
          font-size: large;
        }
      }

      .steps {
        line-height: 1.5;
        margin-top: $margin-huge;
        margin-left: $margin-medium;
        display: flex;
        flex-direction: column;

        ol {
          padding-left: $padding-large;
          li {
            margin-top: 15px;
            text-align: justify;
          }
        }
        ol > li::marker {
          font-weight: bold;
          font-size: large;
        }
      }
    }
  }
}
