.recipe-tile {
    display: flex;
    flex-direction: column;
    box-shadow: $box-shadow-small;
    padding-bottom: $padding-medium;
    border-radius: $card-border-radius;
    text-decoration: none;
    color: $text-color;
    background-color: $paper-color;

    transition: box-shadow $transition, opacity $transition;

    .image img {
        border-top-left-radius: $card-border-radius;
        border-top-right-radius: $card-border-radius;

        width: 100%;
        height: 200px;
        max-height: 200px;
        object-fit: cover;
    }

    .description {
        height: 70px;
        display: flex;
        justify-content: space-between;
        padding: $padding-medium;

        .title-duration {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }

        .title {
            font-size: large;
            font-weight: bold;
            margin-bottom: $margin-small;
        }

        .favourites-difficulty {
            height: inherit;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .MuiIconButton-root {
                padding: 0;
            }

            .recipe-difficulty {
                height: 25px;
            }
        }
    }

    &:hover {
        cursor: pointer;
        opacity: 1;
        box-shadow: $box-shadow-large;
    }
}

@include media(mobile) {
    .recipe-tile {
        width: 100%;

        .image img {
            height: 100px;
            object-fit: cover;
        }

        .description {
            height: 70px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .title {
                font-size: small;
                font-weight: bold;
            }

            .favourites-difficulty-mobile {
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: space-between;

                height: 30px;

                .recipe-difficulty {
                    height: 25px;

                    svg {
                        height: 25px;
                    }
                }

                .recipe-preparation-time {
                    .MuiSvgIcon-root {
                        display: none;
                    }
                }

                .MuiIconButton-root {
                    padding: 0;

                    svg {
                        height: 25px;
                    }
                }
            }
        }
    }
}