$topbar-height: 64px;

.topbar {
    height: $topbar-height;
    background-color:$footer-background-color;
    box-shadow: $box-shadow-medium;

    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $padding-medium;

    .left-container {
        display: flex;


        height: 100%;
    }
    .right-container {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        svg{
            fill:#BACBA9;
        }
    }
}

.nav-tab {
    display: flex;
    text-decoration: none;
    height: 100%;
    color: #BACBA9;
    align-items: center;
    padding: 0 $padding-large;
    font-size: large;

    .icon {
        display: flex;
        align-items: center;
        margin-right: $margin-small;
    }

    .text {
        display: flex;
        align-items: center;
    }
    &.active {
        color: $primary-color;
    }
    &:hover {
        background: rgb(158, 158, 158);
        color: $primary-color;
    }
}
 @include media(mobile) {
    .nav-tab {
        display: flex;
        justify-content: center;
        flex:1;

    }
    .left-container {
        flex:1;
    }

 }
