.tags-container {
  padding: 50px 20px;
  button {
    background: transparent;
    border: 1px ridge #7175684d;
    border-radius: 20px;
  }
}

.recipes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
  gap: $margin-small;
  width: 100%;
  max-width: 950px;

  .loader-tile {
    z-index: 12;
    width: 100%;
    .loader-tile-description {
      align-items: center;
      display: flex;
      flex-direction: row;
      .circle {
        margin-left: $margin-huge;
      }
    }
  }
}
.no-favoutrites-text {
  margin: 20% auto;
  p {
    text-align: center;
  }
}
@include media(mobile) {
  h3 {
    color: $footer-background-color;
    text-shadow: 8px 8px 12px rgba(0, 0, 0, 0.178);
    text-align: center;
  }
  .recipes-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: $margin-small;
    margin: 0 $margin-medium;
  }
}
