.recipe-difficulty {
    svg {
        width: 30px;
        height: 30px;
    }

    .easy {
        fill: green !important;
    }
    .medium {
        fill: rgb(255, 217, 0) !important;
    }
    .hard {
        fill: red !important;
    }
}
