.loader-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.637);
  z-index: 10;

  .modal {
    max-width: fit-content;
    max-height: 200px;
    margin: 30vh auto;

    h3 {
      text-align: center;
      text-decoration: overline;
      margin: -40px;
      color: white;
    }
  }
}